*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    font-family: 'Inter', sans-serif;
}
  
html {
    background-image: url(/assets/img/FundoImg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 90% 100%;
}

body{
    /* overflow: hidden; */
    margin: 50px;
}

.flex{
    display: flex;
}

.hr{
    margin: 40px 0;
    border-left: 1px solid #000000;
    height: 400px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    
}

.box{
    background: rgba(206, 224, 220, 0.45);
    border-radius: 10px;
    height: 500px; 
    margin-left: auto; 
    margin-right: auto;
}

.salutation{
    /* margin-left: 9rem; */
    display: grid;
    text-align: center;
    align-items: center;
    /* top | right | bottom | left */
    margin: 150px 130px 150px 0px;
}


.main-login{
    display: grid;
    /* top | right | bottom | left */
    margin: 50px 0px 0px 250px;
}

label{
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
}

.headline{
    margin-bottom: 2.7rem;
}

h1,h3{
    font-family: 'Titillium Web', sans-serif;
}

.salutation > h1{
    font-size: 66px;
}

h1{
    text-align: center;
}

.input-complete{
    text-align: center;
}

.input-wrapper-email, .input-wrapper-password{
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.input-wrapper-password{
    margin-bottom: 0%;
}


input{
    width: 290px;
    height: 38px;
    background: rgba(255, 247, 254, 0.8);
    border-radius: 10px;
    border: none;
}

.forget{
    text-align: right;
    text-decoration: underline;
    font-size: 12px;
}

button{
    width: 120px;
    height: 40px;
    background: #E9EDEF;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}

.button{
    text-align: center;
    margin-top: 1.7rem;
}

.register{
    display: grid;
    text-align: center;
    margin-top: 1.7rem;
    font-size: 12px;
}